body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a {
  background-color: white;
  text-decoration-line: none;
}


.w960 {
  width: 960px;
}

.bg-grey {
  background-color: whitesmoke;
}

.image-logo {
  height: 30px;

}

.profile-line {
  align-items: center;
}

.long {
  width: 60px;
}

.card {
  border: none;
}

.kind-4 {
  text-decoration: none;
}

.round-picture {
  border-radius: 30px;
}

.profile-text {
  line-height: 8px;
}


.image-square {
  width: 293px;
  height: 293px;
}

.modal-dialog {
  width: 400px;
  height: 300px;
}

.squarebox {
  width: 30px;
  height: 30px;
}

.border-grey {
  border: grey solid 1px;
  border-radius: 5px;
}

.image-tiny {
  width: 25px;
  height: 25px;
}

.image-tinyy {
  width: 16px;
  height: 16px;
}

.count {
  width: 300px;
  text-align: left;
}


.small-modal {
  width: 200px;
  height: 500px;
  text-align: center;
}

.bluejean {
  color: darkblue;
  font-weight: bold;
  text-decoration: none;
}

.image-tonic {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.small-hr {
  width: 70px;
  position: relative;
  bottom: 20px;
}


.image-jordy {
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  border-radius: 50px;
}


.search-bar {
  background-color: whitesmoke;
  color: gray;
  border-width: 0;
  border-radius: 5px;
  margin-left: 50px;
  width: 270px;
  height: 36px;

}